#mypage {
    background-size: cover;
    background-color: #f7f7f7;
    min-height: 870px;
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    #button-list {
        width: 375px;
        min-width: 375px;
        height: 240px;
        min-width: 240px;
        margin: 100px 104px 0px 275px;
        background-color: #ffffff;
    }

    #mypage-check {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    // #myinfo-tab {
    //     border: none;
    //     outline: none;
    //     min-width: 375px;
    //     width: 100%;
    //     height: 60px;
    //     font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    //     font-size: 20px;
    //     color: black;
    //     font-variant-position: left;
    //     background-color: #e3e3e3;
    //     text-align: left;
    //     text-indent: 3em;
    // }

    //#myrecipe-tab, #notification-tab, #chatting-tab 
    #mypage-tab {
        border: none;
        outline: none;
        min-width: 375px;
        width: 100%;
        height: 60px;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: black;
        font-variant-position: left;
        background-color: #ffffff;
        text-align: left;
        text-indent: 3em;
    }

    #mypage-tab:focus{
        border: none;
        outline: none;
        min-width: 375px;
        width: 100%;
        height: 60px;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: black;
        font-variant-position: left;
        background-color: #e3e3e3;
        text-align: left;
        text-indent: 3em;
      }
}