#mypage {
    background-size: cover;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-width: 1024px;

    #info {
        background-color: #ffffff;
        margin-top: 4em;
        margin-bottom: 200px;
        width: 700px;
        padding: 15px;
        //padding-top: 2%;
    }

    #myinfo-header {
        display: flex;
        flex-direction: row;
        font-weight: bold;
    }

    button {
        width: 100px;
        padding: 15px;
        right: 0;
    }

    #button-list {
        margin-left: 0px;
        margin-right: 60px;
        margin-top: 4em;
    }

    #mypage-check {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #myinfo-tab, #mypage-tab, #myrecipe-tab, #notification-tab, #chatting-tab {
        border: none;
        outline: none;
        min-width: 310px;
        width: 310px;
        font-family: 'Jua', sans-serif;
        color: #707070;
        font-size: 20px;
        font-variant-position: left;
        background-color: #ffffff;
        text-align: left;
        text-indent: 2.5em;
    }
}