@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#recipe-list-child {
  border-radius: 5px;
  border: solid 1px #b6b6b6;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30%;
  margin: 1%;

  #recipe-image {
    width: 100%;
    height: 0;
    padding-top: 80%;
  }

  #recipe-food-name {
    //font-weight: bold;
    letter-spacing: 1.5px;
    font-size: larger;
    font-family: 'Jua', sans-serif;
  }
  #recipe-food-category {
    //font-weight: bold;
    font-family: 'Jua', sans-serif;
    letter-spacing: 1px;
  }
  #recipe-card-header {
    .MuiCardHeader-title {
      font-family: 'Jua', sans-serif;
      font-size: medium;
    }
    .MuiCardHeader-subheader {
      font-family: 'Jua', sans-serif;
    }
  }
}
  

#todays-recipe-child {
  border-radius: 5px;
  border: solid 1px #b6b6b6;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  //min-width: 210px;
  max-height: 310px;
  width: 170px;

  #recipe-image {
    width: 100%;
    height: 0;
    padding-top: 130px;  
  }

  #recipe-card-header {
    padding: {
      top: 5px;
      left: 7px;
      bottom: 5px;
    }
    .MuiCardHeader-title {
      font-family: 'Jua', sans-serif;
    }
  }
  
  #recipe-card-footer {
    margin: -30px;
    //margin-right: 5px;
    margin-right: 0px;
  }

  #recipe-food-name {
    font-weight: normal;
    font-family: 'Jua', sans-serif;
    font-size: 14px !important;
  }
  #recipe-food-category {
    font-size: 11px !important;
    font-weight: normal;
    font-family: 'Jua', sans-serif;
  }

  #recipe-content {
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }

  #recipe-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1% !important;
  }
}

#recipe-content {
  display: flex;
  flex-direction: column;
}

#recipe-card-footer {
  display: flex;
  justify-content: space-between;
  margin: 1%;
}

#recipe-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3%;
}

#recipe-cook-time {
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  align-items: center;
  color: #ff8a3d;
  font-weight: bold;

  #recipe-cook-time-icon {
    color: #ff8a3d;
  }
}

#recipe-like-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff8a3d; 
  font-weight: bold;

  #recipe-like-count-icon {
    color: #ff8a3d;
  }
}

