div#my-fridge {
    text-align: center;
    gap: 3%;
    margin: {
        top: 30px;
        left: 3%;
    }

    #fridge-left-part {
        display: grid;
        gap: 5%;
        grid-template-rows: 4fr 6fr;
    }

    #fridge-right-part {
        display: grid;
        margin-bottom: 10%;
        //grid-template-rows: 2.5fr 7.5fr;
        border: solid 2px #e3e3e3;
        background-color: #fffefe;
    }
}

#fridge-icon {
    font-size: 4px;
}
