div#my-fridge {
    min-width: 1024px;
    text-align: center;
    gap: 3%;
    margin: {
        top: 30px;
        //left: 3%;
    }
    justify-content: center;

    #fridge-left-part {
        display: flex;
        flex-direction: column;
        gap: 0%;
        min-width: 350px;
    }

    #fridge-right-part {
        display: flex;
        padding: 20px;
        flex-direction: column;
        min-width: 350px;
        max-height: 640px;
        border: solid 2px #e3e3e3;
        background-color: #fffefe;
    }
}

#fridge-icon {
    font-size: 4px;
}
