#mypage {
  #info {
    #chatroom-header {
      display: flex; 
      flex-direction: row;
      align-items:center;
      margin-left: 0;

      #go-to-chatroom-list-button {
        font-weight: bold;
        width: 12%;
        padding: 0 !important;
        color: #919191;
      }

      #chat-member-username {
        color: #408bf9;
        //margin-left: 120%;
        //align-content: center;
      }
    }
    #user-message {
      display: flex;
      flex-direction: row; 
      align-content: right;
      justify-content: flex-end;
      text-align: right;
      margin-top: 2%;
    }
    #member-message {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      text-align: left;
      margin-top: 2%;
    }
    #message-content {
      width: 60%;
      border: solid 1px #707070;
      border-radius: 20px;
      padding: 15px;
      margin-left: 10px;
      margin-right: 10px;
    }

    #message-created-time {
      align-self: end;
    }

    #chat-input-box {
      position: absolute;
      bottom: 25%;
      display: flex; 
      flex-direction: row;
      #chat-input-field {
        border: 1px solid #707070; 
        border-radius: 20px;
        padding: 10px;
        width: 470px;
        //min-width: 250%;
        //margin-right: 50px;
      }
      #send-chat-button {
        padding: 0;
        margin-left: 30px;
        width: 70%;
        color: #408bf9;
        font-weight: bold;
        font-size: 120%;
      }
    }
  }
}