#mypage {

    #change-password-content {
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    #change-password {
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 100%;
        border: none;
        outline: none;
        text-align: right !important;
        width: 80% !important;
        padding: {
            top: 0 !important;
            bottom: 0 !important;
            left: 0 !important;
            right: 0 !important;
        }
        background-color: white;
        color: #ff8a3d;
    }

    #password-user-profile {
        margin-left: -2.75% !important;
        margin-right: 0 !important;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        //margin-left: -10%;
    }

    #password-list {
        margin: 10%;
    }

    #current-password-part, #new-password-part, #confirm-new-password-part {
        width: 130%;
        display: flex;
        flex-direction: row;
        align-content: center;
        margin-top: -10%;
        margin-bottom: 20%;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom-color: #bbbbbb;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #5f5f5f;
    }

    #current-password, #new-password, #confirm-new-password {
        outline: none;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom-color: #bbbbbb;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #5f5f5f;
    }

    #current-password {margin-left: 10px;}
    #new-password {margin-left: 51px;}
    #confirm-new-password {margin-left: 10px;}

    #edit-profile-picture {
        border-radius: 100%;
        margin: 5%;
        left: 0;
        width: 128px;
        height: 128px;
        margin-top: 17%;
        color: #bdbdbd;
    }
}