#mypage {

    #change-password-content {
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    #change-password {
        width: 90px;
        height: 20px;
        margin-top: 20px;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        border: none;
        outline: none;
        background-color: white;
        color: #ff8a3d;
        margin-left: 545px;
    }

    #password-list {
        margin-top: 40px;
        margin-left: 57px;
    }

    #current-password-part, #new-password-part, #confirm-new-password-part {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom-color: #bbbbbb;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #5f5f5f;
    }

    #current-password-part, #new-password-part {
        margin-bottom: 19px;
    }

    #current-password, #new-password, #confirm-new-password {
        outline: none;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom-color: #bbbbbb;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #5f5f5f;
    }

    #current-password {margin-left: 10px;}
    #new-password {margin-left: 51px;}
    #confirm-new-password {margin-left: 10px;}
}