#mypage {
    font-size: 130%;

    #myinfo-header {
        display: flex;
        flex-direction: row;
        font-weight: bold;
   }

   #edit-info-button {
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100%;
    border: none;
    outline: none;
    //margin-left: 90%;
    text-align: right !important;
    width: 15% !important;
    width: 81% !important;
    padding: {
        top: 0 !important;
        bottom: 0 !important;
    }
    background-color: white;
    color: #ff8a3d;
    }

    #myinfo-user-info {
        display: flex;
        flex-direction: row;
        align-content: left;
    }

    #add-image-icon-box {
        width: 150px;
        height: 150px;
        float: left;
        background-color: #ffffff;
        margin-bottom: 8px;
    }

    #profile-image {
        display:none;
    }

    #edit-info-profile {
        margin-top: 6.3%;
        margin-left: -0.6%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #edit-profile-picture {
        border-radius: 100%;
        margin: 5%;
        left: 0;
        width: 128px;
        height: 128px;
        margin-top: 17%;
        color: #bdbdbd;
    }

    #add-image-button {
        position: absolute;
        color: #69e88e;
        top: 0;
        right: 0;

        margin-top: 5px;
        margin-right: -7px;
        border-radius: 25px;
        font-size: 150%;
        background-color: #ffffff;
    }

    #add-image-icon {
        font-size: 45px;
        color: #ffffff;
    }

    #edit-info-list {
        margin-top: 12px;
        margin-left: 30px;
        width:100%;
    }

    #name-part, #date-of-birth-part, #email-part, #region-part, #password-part {
        padding: 3%;
        display: flex;
        flex-direction: row;
        .info-head {
            width: 30%;
        }
    }

    #edit-name, #edit-date-of-birth, #edit-email, #password-confirm {
        outline: none;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom-color: #bbbbbb;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #5f5f5f;
        width: 70%;
    }
}
