#prev-fridge {
  position: relative;
  top: 270px;
}

#next-fridge {
  position: relative;
  top: 270px;
}

#recommend-recipe-button {
  border-radius: 25px;
  background-color:#fff3eb;
  margin-left: 2%;
  // margin-bottom: 15px;
  font-size: 17px;
  font-family: 'Jua', sans-serif;
  color: #ff8a3d;
  border: solid 2px #ff8a3d;
}

#help-recommend-recipe {
  //position: absolute;
  margin-left: 55%;
  margin-top: 10px;
  color: #ff8a3d;
}

#help-recommend-recipe-alert {
  position: absolute;
  font-family: 'Jua', sans-serif;
  width: 270px;
  margin-top: 3%;
  margin-right: 10%;
  padding: 1%;
  z-index: 1;
  background-color: #ffffff;
  border: solid 0.5px #707070; 
  text-align: left;
  line-height: 160%;
}

#fridge {
  background: url('/icons/fridge.png') top center / contain no-repeat;
  height: 580px;
  width: 400px;
  //max-width: 400px;
  flex-direction: row;
  padding-left: 0;
  //margin-bottom: 20px;
  align-items: center;
  margin-top: 40px;

  div#ingredients {
    padding:10%;
    padding-right:23%;
    //padding-bottom: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
