#prev-fridge {
  position: relative;
  top: 35vh;

}

#next-fridge {
  position: relative;
  top: 35vh;
}

#fridge {
  background: url('/icons/fridge.png') top center / contain no-repeat;
  min-height: 600px;
  flex-direction: row;
  padding: 20%;
  padding-left: 0;
  align-items: center;

  div#ingredients {
    padding:10%;
    padding-right:12%;
    padding-bottom: 48%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
