@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

div#header {
  min-width: 1024px;
  height: 70px;
  border: solid 1px #e3e3e3;
  background-color: #efefef;
  display: flex;
  justify-content: space-around;
}

#header-tab {
  font-size: 20px;
  border: none;
  outline: 0;
  font-family: 'Jua', sans-serif;
}

#header-tab:focus{
  outline: 0 !important;
}