#user-recipes {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    //margin: 3% 5%;
    margin-right: 30%;
    margin-top: 35px;
    //padding: 10px;
    width: 100%;
}

#recipe-list-page{
    justify-content: center;
    margin-left: 200px;
}