
#my-page {
    #info {
        min-width: 600px !important;
        display: flex !important;
        flex-direction: column !important;
        overflow: scroll;

        #my-recipe-title {
            font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: #707070;
            font-size: 20px;    
            margin: 50px;    
        }
        #user-recipes {
            min-width: 500px !important;
        }
    }
}