#signup {
    background-size: cover;
    background-color: #ff8a3d;
    margin: 0;
    padding: 0;
    min-height: 949px;
    min-width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    #naengpa {
        width: 375px;
        min-width: 375px;
        height: 175px;
        min-height: 175px;
        font-family: 'Jua', sans-serif;
        margin-right: 3%;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #ffffff;
        display: flex;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 800%;

        #naengpa-logo {
            margin-top: 5%;
        }
        #naengpa-logo-name {
            margin-bottom: 5%;
        }
    }

    #signup-part {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    #input-list {
        width: 550px;
        height: 600px;
        margin-top: 15%;
        border-radius: 17px;
        box-shadow: 10px 10px 10px 0 rgba(21, 21, 21, 0.34);
        background-color: #ffffff;
        font-family: 'Arial', sans-serif;
    }

    #input-name {
        height: 77.5px;
        min-height: 77.5px;
    }

    #input-username, #input-password, #input-password-confirm, #input-date-of-birth, #input-email{
        height: 92.5px;
        min-height: 92.5px;
    }

    #name:invalid {
        border-bottom-color: rgb(252, 67, 67);
    }

    #name {
        margin-top: 7.5%;
        //margin-bottom: 10%;
        margin-left: 10%;
        width: 80%;
        align-content: center;
        border-left: none;
        border-right: none;
        border-top: none;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 200%;
        border-bottom-color: #bbbbbb;
        outline: none;
    }

    #invalid-name {
        margin-top: 1%;
        margin-left: 10.5%;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 80%;
        color: rgb(252, 67, 67);
        line-height: 30%;
    }

    #username {
        margin-top: 10%;
        margin-left: 10%;
        width: 80%;
        align-content: center;
        border-left: none;
        border-right: none;
        border-top: none;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 200%;
        border-bottom-color: #bbbbbb;
        outline: none;
    }

    #password {
        margin-top: 10%;
        //margin-bottom: 10%;
        margin-left: 10%;
        width: 80%;
        align-content: center;
        border-left: none;
        border-right: none;
        border-top: none;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 200%;
        border-bottom-color: #bbbbbb;
        outline: none;
    }
    
    #password-confirm {
        margin-top: 10%;
        margin-bottom: 0%;
        margin-left: 10%;
        width: 80%;
        align-content: center;
        border-left: none;
        border-right: none;
        border-top: none;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 200%;
        border-bottom-color: #bbbbbb;
        outline: none;
    }

    #password-confirm:invalid {
        border-bottom-color: rgb(252, 67, 67);
    }

    #checkPassword {
        margin-top: 1%;
        margin-left: 10.5%;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 80%;
        color: rgb(252, 67, 67);
        line-height: 30%;
    }

    #date-of-birth {
        margin-top: 10%;
        margin-bottom: 0%;
        margin-left: 10%;
        width: 80%;
        align-content: center;
        border-left: none;
        border-right: none;
        border-top: none;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 200%;
        border-bottom-color: #bbbbbb;
        outline: none;
    }

    #date-of-birth:invalid {
        border-bottom-color: rgb(252, 67, 67);
    }
    
    #invalidBirth {
        margin-top: 1%;
        margin-left: 10.5%;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 80%;
        color: rgb(252, 67, 67);
        line-height: 30%;
    }

    #email {
        margin-top: 10%;
        margin-bottom: 0%;
        margin-left: 10%;
        width: 80%;
        align-content: center;
        border-left: none;
        border-right: none;
        border-top: none;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 200%;
        border-bottom-color: #bbbbbb;
        outline: none;
    }

    #email:invalid {
        border-bottom-color: rgb(252, 67, 67);
    }

    #invalidEmail {
        margin-top: 1%;
        margin-left: 10.5%;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 80%;
        color: rgb(252, 67, 67);
        line-height: 30%;
    }

    font: {
        width: 100%;
        height: 20%;
        font-family: "Helvetica Neue", sans-serif;
        font-size: 100%;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 10%;
        letter-spacing: normal;
        text-align: left;
        color: #b4b4b4;
    }

    #button-list {
        display: flex;
        justify-content: center;
        margin-left: 40%;
        padding: 5%;
    }

    #login-button, #signup-button {
        margin-bottom: 1%;
        margin-left: 5%;
        width: 150px;
        height: 200%;
        padding: 5%;
        min-height: 65px;
        min-width: 150px;

        border: none;
        border-radius: 100px;
        box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.27);
        background-color: #ffffff;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 160%;
        color: #b4b4b4;
        outline: none;
    }
}
