#mypage {
  #chatroom-list {
    background-color: #ffffff;
    margin-top: 4em;
    margin-bottom: 250px;
    width: 700px;
    height: 500px;

    #chatroom-header {
      font-weight: bold;
      color: #000000; 
      font-size: 21.5px;
      margin-left: 49px; 
      margin-top: 38px;
      background-color: #ffffff;
    }
  }

  #scrollabelDiv {
    background-color: #ffffff;
    margin-bottom: 200px;
    width: 700px;
    left: 0;
    right: 0;
    
    #chatroom {
      //display: flex;
      //flex-direction: row; 
      align-items: flex-start, stretch;
      justify-content: space-between;
      //justify-content: space-around;
      text-align: left;
      background-color: #ffffff;
      border: none;
      width: 100%;
      font-size: 20px;
      padding: 3%;
      :focus {
        outline: 0 !important;
      }
      #chat-member {
        color: #408bf9;
        font-weight: bold;
        align-content: flex-start;
        text-align: left;
      } 

      #chat-message {
        color: #6b6b6b;
      }

      #chat-count {
        border: none;
        border-radius: 100%;
        font-size: 90%;
        padding: {
          left: 2.4%;
          right: 2.4%;
          top: 0;
          bottom: 0;
        }
        font-weight: bold;
        color: #ffffff;
        background-color:#fd6767;
      }
    }
  }
}