@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

footer#footer {
    font-family: 'Jua', sans-serif;
    text-align: center;
    color: gray;
    font-size: 10px;
    padding-top: 10px;
    margin-right: 13%;
}

a:link {
    text-decoration: none;
    color: gray;
}

a:visited {
    text-decoration: none;
    color: gray;
}

a:active {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: none;
    color: gray;
}