#regional-setting {
  background-size: cover;
  background-color: #ff8a3d;
  margin: 0;
  padding: 0;
  min-height: 950px;
  min-width: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  #naengpa {
      width: 375px;
      min-width: 375px;
      height: 175px;
      min-height: 175px;
      font-family: 'Jua', sans-serif;
      margin-right: 3%;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #ffffff;
      display: flex;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 800%;

      #naengpa-logo {
          margin-top: 5%;
      }
      #naengpa-logo-name {
          margin-bottom: 5%;
      }
  }

  #region-part {
      display: flex;
      flex-direction: column !important;
      align-items: center;
      width: 550px;
      height: 600px;
      box-shadow: 10px 10px 10px 0 rgba(21, 21, 21, 0.34);
      font-family: 'Arial', sans-serif;
      background-color: #ffffff;
      border-radius: 17px;
  }

  #region-element-box {
    margin-top: 10%;

    #region-part-header {
      // font-weight: bold;
      font-size: 200%;
      display: flex;
      justify-content: center;
    }

    #region-part-subheader {
      display: flex;
      justify-content: center;
      font-size: 130%;
      color: #b4b4b4;
      margin-block-end: 10px;
    }
  }

  #region-search-input-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px #707070;
    padding: 2% 4%;
    min-width: 225px;
    align-items: center;
    border-radius: 10px;
  
    #region-search-input {
      width: 200px;
    }
    #region-search-icon {
      font-size: 40px;
      font-weight: bold;
    }
  }

  #region-map {
    margin-top: 15px;
    width: 400px; 
    height: 300px;
    border: solid 1px #707070;
  }

  font: {
      width: 100%;
      height: 20%;
      font-family: HelveticaNeue;
      font-size: 100%;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 10%;
      letter-spacing: normal;
      text-align: left;
      color: #b4b4b4;
  }

  #confirm-button {
      margin-top: 15%;
      margin-bottom: 11.2%;
      margin-left: 60%;
      width: 40%;
      height: 10%;
      min-height: 100px;
      border-radius: 100px;
      border: none;
      box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.27);
      background-color: #ffffff;
      font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 150%;
      color: #b4b4b4;
      outline: none;
  }
}
