@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

div#today-star {

  #today-star-header {
    text-align: left;
    font-family: 'Jua', sans-serif;
  }

  #profile-cards {
    float: left;
    display: flex;
    justify-content: center;
    width: 100%;
    gap:10%;
  }
}