@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

div#today-star {
  //height: 5%;

  #today-star-header {
    text-align: left;
    font-family: 'Jua', sans-serif;
    font-size: 115%;
  }

  #profile-cards {
    float: left;
    display: flex;
    justify-content: center;
    width: 100%;
    gap:10%;
  }

  #profile-card-header {
    padding-top: 5% !important;
  }
}