@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

div#today-star {
  width: 300px;

  #today-star-header {
    text-align: left;
    font-family: 'Jua', sans-serif;
    font-size: 115%;
  }

  #profile-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    width: 100%;
    column-gap: 7%;
  }

  #profile-card-header {
    padding-top: 5% !important;
  }
}