@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

 div#navigation {
  min-width: 1024px;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-left: 2.5%;
  margin-right: 2.5%;
  align-items: center;

  button {
    border: none;
    border-radius: 15px;
    outline: 0;
    text-align: center;
    font-family: 'Jua', sans-serif;

    :focus {
      outline: 0 !important;
    }
  }
}

  #naengpa-logo {
    font-size: 100%;
  }

  #naengpa-logo-name {
    margin-top: 3%;
  }

  #naengpa-logo-button {
    display: flex;
    align-items: center;
    letter-spacing: 5.2px;
    font-size: 250%;
    background-color: transparent;
    color: #ff8a3d;
  }

  #right-navigation-buttons {
    display: flex;
    margin-right: 6%;
    gap: 10%;
  }

  #navigation-buttons {
    display: flex;
    margin-right: 10%;
    gap: 3%;
  }

  #user-notice-button {
    background-color: transparent;
  }

  #notification-logo {
    font-size: 25px;
  }

  #naengpa-button {
    font-size: 120%;
    letter-spacing: 5.2px;
    text-align: center;
    color: #ff8a3d;
  }

  #mypage-button {
    font-size: 100%;
    min-width: 80px;
    color: #707070;
    border: none;
    outline: 0;
    background-color: #efefef;
  }

  #logout-button {
    font-size: 100%;
    color: #707070;
    background-color: transparent;
  }


