#profile {
  background-color: #ffffff;
  height: auto;
  width: auto;
  flex: 1;
  margin-left: 0;
  margin-right: 0;
  box-shadow: none;

  #profile-title {
    font-size: 100%;
    font-weight: bold;
  }

  #profile-subheader {
    font-size: 90%;
    font-weight: bold;
    color: #ff4ec4;
  }
}