@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

div#today-ingredient {
    background: url('/icons/memo.png') top center / contain no-repeat;
    width: 350px !important;
    min-width: 300px;
    height: 350px !important;
    margin-top: 0;
    padding-top: 0;

    #today-ingredient-container {
      #today-ingredient-header {
        font-family: 'Jua', sans-serif;
        font-size: 20px;
        margin-top: 95px;
        margin-left: 40px;
        padding-bottom: 3%;
      }

      #today-ingredient-contents {
        font-family: 'Nanum Pen Script', cursive;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        overflow: scroll;
        overflow-x: hidden;
        max-height: 170px;
        max-width: 250px;
        min-width: 250px;
        &::-webkit-scrollbar { 
          display: none !important; // 윈도우 크롬 등
        }
       
        padding-left: 25%;
        
        #today-ingredient-content-each {
          font-size: 20px;
          #today-ingredient-delete {
            font-size: 20px;
            padding: 0;
            font-family: 'Nanum Pen Script', cursive;
          }
        }
      }
  
    #help-today-ingredient {
      color: #ff8a3d;
    }

    #help-today-ingredient-alert {
      position: absolute;
      max-width: 250px;
      padding: 1%;
      z-index: 1;
      background-color: #ffffff;
      border: solid 0.5px #707070; 
      text-align: left;
      line-height: 150%;
    }
  }
}
