@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

div#today-ingredient {
    background: url('/icons/memo.png') top center / contain no-repeat;
    display: flex;
    flex-direction: row;

    #today-ingredient-header {
      font-family: 'Jua', sans-serif;
      text-align: center;
      position: absolute;
      top: 40vh;
      left: 13vw;
      font-size: 2.5vh;
    }

    #today-ingredient-contents {
      text-align: center;
      position: absolute;
      top: 45vh;
      left: 13vw;
      font-size: 3vh;
      font-family: 'Nanum Pen Script', cursive;

      #today-ingredient-delete {
        font-family: 'Nanum Pen Script', cursive;
        font-size: 3vh;
        height: 3vh;
      }
    }

    #add-today-ingredient {
      color: yellowgreen;
    }

    #add-today-ingredient-alert {
      position: absolute;
      z-index: 1;
      padding: 2%;
      background-color: #ffffff;
      border: solid 1px #707070;
      width: 20vw;
      height: 20vh; 

      #close-alert-button {
        color: yellowgreen;
      }

    }   
}
