@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

div#today-ingredient {
    background: url('/icons/memo.png') center center / contain no-repeat;
    //display: flex;
    //flex-direction: column;
    min-height: 250px;
    max-height: 250px;
    padding: 23% 20%;
    padding-left: 30%;
    padding-bottom: 5%;
    
    #today-ingredient-header {
      position: absolute;
      font-family: 'Jua', sans-serif;
      font-size: larger;
      //display: flex;
      justify-content: center;
      text-align: left;
      padding-bottom: 5%;
    }

    #today-ingredient-contents {
      //position: absolute;
      margin-top: 20%;
      margin-left: 15%;
      font-family: 'Nanum Pen Script', cursive;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // justify-content: center;
      // align-content: center;
      align-items: center;

      #today-ingredient-content-each {
        font-size: 20px;
        height: 25px;
      }
    }
  
    #today-ingredient-delete {
      font-size: 20px;
      height: 25px;
      font-family: 'Nanum Pen Script', cursive;
    }

}
