@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#recipe-detail {
  margin: 5% 10% 10% 15%;
  width: 70%;
  min-width: 1024px;
  height: 80%;
  border: solid 1px #dcdcdc;
  align-items: center;

  #recipe-header {
    margin: 5% 5% 5% 5%;
    align-items: center;
    justify-content: center;
    display: flex;
    //overflow: scroll;
  }

  #recipe-section1 {
    margin: 5% 5% 0% 5%;

    #recipe-foodName {
      font-family: 'Jua', sans-serif;
    }

    #recipe-foodCategory {
      margin-left: 5px;
      font-family: 'Jua', sans-serif;
    }

    #recipe-createdAt {
      font-family: 'Jua', sans-serif;
      font-weight: normal;
    }
  }

  #recipe-section2 {
    margin: 0% 5% 2% 5%;

    #recipe-cook-time {
      display: flex;
      flex-direction: column;
      margin-right: 1%;
      align-items: center;
      color: #ff8a3d;
      font-weight: bold;
      float: right;
      
      #recipe-cook-time-icon {
        color: #ff8a3d;
      }
    }
      
    #recipe-like {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #ff8a3d; 
      font-weight: bold;
      
      #recipe-like-count-icon {
        color: #ff8a3d;
      }
    }

    #recipe-setting-alert {
      position: absolute;
      display: inline-block;
      z-index: 1;
      background-color: #ffffff;
      border: solid 1px #707070; 
    }
  }

  #recipe-section3 {
    margin: 2% 5% 2% 5%;

    #recipe-ingredient {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      margin-bottom: 2%;
  
      #ingredient-yes-button{
        font-family: 'Jua', sans-serif;
        // font: {
        //   weight: bold;
        // }
        font-size: medium;
        letter-spacing: normal;
        text-align: left;
        border-radius: 25px;
        align-self: right;
        color: #ffffff;  
        background-color: #69e88e;  
        margin-right: 6px;
      }

      #ingredient-no-button{
        font-family: 'Jua', sans-serif;
        // font: {
        //   weight: bold;
        // }
        font-size: medium;
        letter-spacing: normal;
        text-align: left;
        border-radius: 25px;
        align-self: right;
        color: #ffffff;  
        background-color: #ff6767;  
        margin-right: 6px;
      }
    }
    #recipe-content {
        line-height: 180%;
        .MuiTypography-h6 {
          font-family: HelveticaNeue, sans-serif;
        }
    }
  }

  #recipe-section4 {
    margin: 2% 5% 2% 5%;

    #recipe-section4-header {
      font-family: 'Jua', sans-serif;
      padding-bottom: 1%;
    }

    #articles {
      display: flex;
      flex-direction: row;
    }
  }

  #recipe-section5 {
    margin: 2% 5% 2% 5%;

    #recipe-section5-header {
      font-family: 'Jua', sans-serif;
      padding-bottom: 1%;
    }
  }

  #profile-image {
    display: flex;
    align-items: center;
  }

  #profile-box {
    display: flex; 
    flex-direction: row;
    align-items: center;

    // #profile-title {
    //   font-family: 'Jua', sans-serif;
    // }
  }

  #chatting-icon {
    background-color: #ffffff;
    color: #ff8a3d;
    border: none; 
  }
}