@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#mypage {
    #notifications-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
        margin-left: 24px;
    }

    #notifications-title {
        margin-left: 15px;
    }
    
    #notifications-info {
        font-family: 'Jua', sans-serif;
    }
}
