#recipe-list {
  min-width: 1024px !important;
  margin:  {
    bottom: 100px; 
    left: 50px;
    right: 100px;
  }
  #create-recipe-button {
    display: flex;
    justify-content: flex-end;
    border-radius: 35px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: #ff8a3d;

    font: {
      size: 15px;
      weight: bold;
      stretch: normal;
      style: normal;
    };

    line-height: 2.63;
    letter-spacing: normal;
    text-align: center;
    color: #fbfbfb;
    border: none;
  }

  #recipe-list-buttons {
    display: flex;
    justify-content: flex-end;
  }

  #filter-button-true {
    color: #ff8a3d !important;
    font-size: 17px;
  }

  #filter-button-false {
    color: #707070;
    font-size: 17px;
  }

  #recipe-cards {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 3% 5%;
    padding: 10px;
  }

  button {
    border: none {
      border-radius: 20px;
    }

    background-color: white;

    font: {
      size: 100%;
      weight: bold;
    }
    
    color: #707070;
  }
  
  button:focus {
    outline: 0 !important;
    color: #408bf9
  }    
}

#recipe-list-page {
  display: flex;
  justify-content: center !important;
  margin: 0 !important;
}

#recipe-list-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: {
    top: 50px;
    left: 80px;
    right: 100px;
  }
}

#recipe-search-input-box {
  display: flex;
  flex-direction: row;
  border: solid 1px #696464;
  padding: 2% 4%;
  min-width: 300px;
  align-items: center;
  border-radius: 15px;

  #recipe-search-input {
    min-width: 250px;
    margin-right: 10px;
  }
}

#recipe-search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#loading-bar {
  margin-top: 150px;
  font-size: 150%;
}

#vacant-recipe {
  display: flex;
  margin-top: 30%;
  font-size: 100%;
  color: #707070;
  font-family: 'Jua', sans-serif;
  justify-content: center;
}
