#recipe-list {
  margin: 30px 0;
  padding: 10px 150px;
  min-width: 800px;
  background-color: #ffffff;
  justify-content: center;

  #create-recipe-button {
    display: flex;
    justify-content: flex-end;
    border-radius: 35px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: #ff8a3d;
    margin-left: 20px;

    font: {
      size: 15px;
      weight: bold;
      stretch: normal;
      style: normal;
    };

    line-height: 2.63;
    letter-spacing: normal;
    text-align: center;
    color: #fbfbfb;
    border: none;
  }

  #recipe-list-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
  }

  #filter-button-true {
    color: #ff8a3d !important;
    font-size: 17px;
  }

  #filter-button-false {
    color: #707070;
    font-size: 17px;
  }

  #recipe-cards {
    display: flex;
    flex-flow: wrap;
    margin: 3% 0;
    padding: 0;
    margin-left: 35px;
  }

  button {
    border: none {
      border-radius: 20px;
    }

    background-color: white;

    font: {
      size: 100%;
      weight: bold;
    }
    
    color: #707070;
  }
  
  button:focus {
    outline: 0 !important;
    color: #408bf9
  }    
}

#recipe-list-page {
  display: flex;
  justify-content: center !important;
  margin: 0 !important;
}

#recipe-list-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: {
    top: 50px;
  }
}

#recipe-search-input-box {
  display: flex;
  flex-direction: row;
  border: solid 1px #696464;
  padding: 2% 4%;
  margin-left: 9%;
  min-width: 300px;
  align-items: center;
  border-radius: 15px;

  #recipe-search-input {
    min-width: 250px;
    margin-right: 10px;
  }
  #recipe-search-select {
    margin-left: -75px;
    width: 100px;
    text-align: right;
    background: #ffffff;
  }
}

#recipe-search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#vacant-recipe {
  display: flex;
  margin-top: 20%;
  font-size: 100%;
  color: #707070;
  font-family: 'Jua', sans-serif;
  justify-content: center;
}

