div#ingredient {
  width: 30%;
  height: auto;
  margin-left: 3%;
  img#ingredient-image {
    width:130%;
  }
  padding-bottom: 28%;
  #ingredient-image-box {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: left;
  }
  button:focus {
      outline: 0 !important;
  }
}

#delete-ingredient-button {
  position: absolute;
  color:#ff6767;
  top: 0;
  right: 0;

  margin: {
    top: -10px;
  }
  border-radius: 20px;
}
