@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

div#ingredient {
  width: 30%;
  height: auto;
  //margin-left: 3%;
  img#ingredient-image {
    width: 95%;
    height: 95%;
    align-self: bottom;
  }
  padding-top: 22%;
  padding-bottom: 3%;
  padding-right: 1.5%;
  #ingredient-image-box {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
  }
  button:focus {
      outline: 0 !important;
  }
}

#delete-ingredient-button {
  position: absolute;
  color:#ff6767;
  top: 0;
  right: 0;

  margin: {
    top: -15px;
  }
  border-radius: 20px;
}

#yes-ingredient-button {
  position: absolute;
  color: #f9fd15;
  top: 0;
  right: 22px;

  margin: {
    top: -15px;
  }
}

#no-ingredient-button {
  position: absolute;
  color: rgb(139, 139, 139);
  top: 0;
  right: 22px;

  margin: {
    top: -15px;
  }
}

#ingredient-inbox {
  display: flex;
  flex-direction: column;
  background: none;
  align-items: center;
  border: none;
}
#ingredient-tag {
  background-color: #FFEFD5;
  font-family: 'Jua', sans-serif;
  padding: 2%;
  font-size: medium;
  border-radius: 20px;
}