#article-list {
  margin: 4% 8%;
  padding: 1% 5%;
  min-width: 800px;
  background-color: #ffffff;

  #article-list-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    margin-left: 1%;

    #article-list-header-title {
      margin-top: 30px;
    }

    #article-list-header-primary {
      display: flex;
      flex-direction: row;
      justify-items: center;
      align-items: center;

      h1 {
        margin: {
          left: 0;
          right: 2%;
          bottom: 2%;
        }
        font-family: HelveticaNeue, sans-serif;
        font-size: 200%;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #212329;
      }

      span {
        margin-left: 0.5%;
        padding: {
          top: 1%;
          bottom: 0;
        }
        align-self: center;
        font-family: HelveticaNeue, sans-serif;
        font-size: 130%;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
      }
    }

    #article-list-helper {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: space-between;

      #article-search {
        width: 60%;
        display: flex;
        flex-direction: row;
        padding: 0;
        min-width: 220px;
        align-items: center;
        justify-content: space-between;

        #article-search-box {
          width: 60%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 0 2%;
          margin: 0 0;
          border: solid 1px #707070;
          border-radius: 15px;
          background-color: #ffffff;

          #article-search-input {
            font: {
              family: HelveticaNeue, sans-serif;
              size: 100%;
              weight: bold;
              stretch: normal;
              style: normal;
            }
            width: 450px;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
          }
        }

        #article-list-options-filter {
          width: 40%;
          display: flex;

          #most-recent-filter, #most-popular-filter, #most-recommended-filter {
            width: 50%;
            height: 50px;
            border-radius: 30px;
          }

          button {
            margin: 0 3%;
            width: 50%;
            height: 100%;
            border-radius: 11px;
            border: solid 1px #f7f7f7;
            background-color: #f0f0f0;
        
            font: {
              family: HelveticaNeue;
              size: 100%;
              weight: normal;
              stretch: normal;
            }
            letter-spacing: normal;
            text-align: center;
            color: #696464;
          }

          button.selected {
            color: #ffffff;
            background-color: #ff8a3d;
            border: solid 1px #f7f7f7;

            font: {
              family: HelveticaNeue;
              size: 100%;
              weight: bold;
              stretch: normal;
            }
            letter-spacing: normal;
            text-align: center;
          }
          
          button:focus {
            outline: 0 !important;
            //color: #408bf9
          }   
        }
      }
       
      #create-article-button {
        display: flex;
        justify-content: flex-end;
        font-family: HelveticaNeue, sans-serif;

        font-size: 100%;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #020215;
        border: none;
        outline: none;
        /*
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        flex-direction: row;
        width: 80px;
        height: 50px;
        border-radius: 30px;
        background-color: #ff8a3d;
        color: white;
        */
      }
    }
  }

  #article-cards {
    min-height: 400px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 3% 0;
    padding: 0;
  } 
  
  #article-list-page {
    display: flex;
    justify-content: center;
  }

  div#article-list-create-article {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
