@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

div#today-recipe {
  width: 300px;
  height: 400px;

  div#today-recipe-header {
    text-align: left;
    padding-bottom: 1%;
    font-family: 'Jua', sans-serif;
    font-size: 115%;
  }

  div#today-recipe-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-weight: bold;
    justify-content: center;
    gap:2.5%;
  }

  #recipe-content {
    display: flex;
    flex-direction: column;
  }

  #recipe-food-category {
    font-size: 90%;
    font-weight: lighter !important;

  }

  #recipe-cook-time, #recipe-like-count {
    font-size: 10px;
  }
}