@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

div#today-recipe {
  div#today-recipe-header {
    text-align: left;
    padding-bottom: 5%;
    font-family: 'Jua', sans-serif;
  }

  div#today-recipe-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-weight: bold;
    justify-content: center;
    gap:3%;
  }
}