#mypage {
    #myinfo-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
    }

    #edit-info-button {
        margin-right: 25px;
        border: none;
        outline: none;
        padding: {
            top: 0 !important;
            bottom: 0 !important;
            left: 0 !important;
            right: 0 !important;
        }
        background-color: white;
        color: #ff8a3d;
    }

    #myinfo-user-info {
        display: flex;
        flex-direction: row;
        align-content: left;
        margin-left: 80px;
    }

    #myinfo-profile {
        margin-right: 30px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        gap: 5%;
    }

    #profile-picture {
        min-width: 128px;
        min-height: 128px;
        color: #bdbdbd;
    }

    #myinfo-username {
        font-size: 100%;
    }

    #myinfo-info-list {
       width: 70%;
       margin-left: 5%;
    }

    #myinfo-info{
        display: flex;
        flex-direction: column;

        .myinfo-content {
            margin-top: 25px;
            display: flex;
            flex-direction: row;
        }
        .info-head {
            align-content : left;
            width: 30%;
        }
        .info-tail {
            align-content: left !important;
            width: 60%;
            font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
            color: #5f5f5f;
        }
    }

    #change-password-button {
        margin-top: 25px;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-size: 100%;
        font-weight: bold;
        border: none;
        outline: none;
        background-color: white;
        color: #3567f0;
        width: 100% !important;
        padding: 0 !important;
        text-align: left !important;
    }
}
