#mypage {
    font-size: 130%;

    #myinfo-header {
        display: flex;
        flex-direction: row;
        font-weight: bold;
   }

    #edit-info-button {
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 100%;
        border: none;
        outline: none;
        text-align: right !important;
        width: 80% !important;
        padding {
            top: 0 !important;
            bottom: 0 !important;
        }
        background-color: white;
        color: #ff8a3d;
    }

    #myinfo-user-info {
        display: flex;
        flex-direction: row;
        align-content: left;
    }

    #myinfo-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -10%;
    }

    #profile-picture {
        left: 0;
        min-width: 175px;
        min-height: 175px;
        width: 40%;
        height: 40%;
        color: #bdbdbd;
    }

    #myinfo-username {
        font-size: 100%;
    }

    #myinfo-info-list {
       width: 70%;
    }

    #myinfo-info{
        .myinfo-content {
            display: flex;
            flex-direction: row;
        }
        .info-head {
            align-content : left;
            width: 30%;
        }
        .info-tail {
            align-content: left !important;
            width: 60%;
            font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
            color: #5f5f5f;
        }
    }

    #change-password-button {
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-size: 100%;
        font-weight: bold;
        border: none;
        outline: none;  
        background-color: white;
        color: #3567f0;
        width: 100% !important; 
        padding: 0 !important;
        text-align: left !important;
    }
}